@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
//font-family: 'Roboto', sans-serif;
//font-family: 'Shrikhand', serif;

$font-text: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', serif;

h1 {
    font-family: $font-logo;
}

h2 {
    font-family: $font-text;
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-family: $font-text;
    font-size: 16px;
    font-weight: 500;
}

h4 {
    font-family: $font-text;
    font-size: 18px;
    font-weight: 700;
}

p, li {
    font-family: $font-text;
}

a {
    text-decoration: none;
}

span {
    font-family: $font-text;
}