@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
//font-family: 'Roboto', sans-serif;
//font-family: 'Shrikhand', serif;

$font-text: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', serif;

h1 {
    font-family: $font-logo;
}

h2 h3 h4 p {
    font-family: $font-text;
}