@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
h1 {
  font-family: "Shrikhand", serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

p, li {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

span {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1440px;
  margin: auto;
  background-color: #F6F6F6;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  line-height: 40px;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 14px 89px 14px 89px;
  margin: 0px;
  height: 63px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #353535;
  background-color: #EAEAEA;
  gap: 17px;
}
.location .fa-location-dot {
  color: #353535;
}

.titre {
  position: relative;
  z-index: 1;
  box-shadow: none;
}

.fa-arrow-left {
  position: absolute;
  z-index: 2;
  color: #353535;
  font-size: 25px;
  top: 0.85em;
  left: 1em;
}
.fa-arrow-left:hover {
  transform: scale(1.1);
}

.header-restaurants {
  height: 63px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: white;
  animation: loader 3s;
  animation-delay: 3s;
  animation-fill-mode: both;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  gap: 15px;
}
.loader .barreun {
  width: 15px;
  height: 40px;
  background-color: #9356DC;
  border-radius: 5px;
  transform-origin: bottom;
  animation: bounceun 0.5s alternate infinite;
  box-shadow: 0px 50px 0px 0px rgba(147, 86, 220, 0.2);
}
.loader .barredeux {
  width: 15px;
  height: 40px;
  background-color: #99E2D0;
  border-radius: 5px;
  transform-origin: bottom;
  animation: bouncedeux 0.5s alternate infinite;
  box-shadow: 0px 50px 0px 0px rgba(153, 226, 208, 0.3);
  animation-delay: 200ms;
}
.loader .barretrois {
  width: 15px;
  height: 40px;
  background-color: #FF79DA;
  border-radius: 5px;
  transform-origin: bottom;
  animation: bounceun 0.5s alternate infinite;
  box-shadow: 0px 50px 0px 0px rgba(255, 121, 218, 0.2);
  animation-delay: 400ms;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 30px 60px 30px;
}
.info h2 {
  margin: 20px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
}
.info p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
@media all and (min-width: 768px) {
  .fonctionnement {
    padding: 50px 4%;
  }
}
.fonctionnement h2 {
  align-self: flex-start;
  padding-left: 20px;
  margin-bottom: 10px;
}
.fonctionnement ol {
  padding: 0px;
  width: 100%;
  list-style: none;
  counter-reset: li;
}
@media all and (min-width: 768px) {
  .fonctionnement ol {
    display: flex;
    justify-content: center;
  }
  .fonctionnement ol li {
    min-width: 30%;
  }
}
.fonctionnement li {
  margin: 0px 15px 25px 25px;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  counter-increment: li;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  transition-property: transform;
  transition: all 300ms ease-out;
}
.fonctionnement li:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.fonctionnement li:hover i {
  color: #9356DC;
}
.fonctionnement li::before {
  display: inline-block;
  content: counter(li);
  background-color: #9356DC;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  color: white;
  text-align: center;
  margin-right: 10px;
  margin-left: -15px;
  margin-top: 20px;
}
.fonctionnement i {
  font-size: 15px;
  margin-right: 10px;
  color: #7E7E7E;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}
@media all and (min-width: 768px) {
  .restaurants {
    padding: 30px 5%;
  }
}
.restaurants h2 {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
}
@media all and (min-width: 768px) {
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 10fr 10fr;
    grid-auto-rows: minmax(50px, auto);
  }
  .restaurants h2 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .restaurants .one {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .restaurants .two {
    grid-column: 2/2;
    grid-row: 2/3;
  }
  .restaurants .three {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .restaurants .four {
    grid-column: 2/2;
    grid-row: 3/3;
  }
}

.container-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 90%;
}
.header-menu h2 {
  align-self: flex-start;
  font-family: "Shrikhand", serif;
  font-size: 26px;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  .header-menu h2 {
    align-self: center;
  }
}
@media all and (min-width: 768px) {
  .header-menu {
    justify-content: center;
    gap: 20px;
  }
}

.menu-restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #EAEAEA;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  top: -3.5em;
  padding: 0px 10px 20px 10px;
  padding-left: 10px;
  padding-right: 10px;
}
@media all and (min-width: 768px) {
  .menu-restaurants {
    width: 73%;
    top: -1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.img-restaurants-palette-du-gout {
  width: 100%;
  height: 275px;
  margin: 0;
  background-image: url(../../assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
}
@media all and (min-width: 768px) {
  .img-restaurants-palette-du-gout {
    background-position: 50% 60%;
    height: 343px;
  }
}

.img-restaurants-delice-des-sens {
  width: 100%;
  height: 275px;
  margin: 0;
  background-image: url(../../assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
}
@media all and (min-width: 768px) {
  .img-restaurants-delice-des-sens {
    background-position: 50% 60%;
    height: 343px;
  }
}

.img-restaurants-a-la-francaise {
  width: 100%;
  height: 275px;
  margin: 0;
  background-image: url(../../assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
}
@media all and (min-width: 768px) {
  .img-restaurants-a-la-francaise {
    background-position: 50% 60%;
    height: 343px;
  }
}

.img-restaurants-note-enchantee {
  width: 100%;
  height: 275px;
  margin: 0;
  background-image: url(../../assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
@media all and (min-width: 768px) {
  .img-restaurants-note-enchantee {
    background-position: 50% 60%;
    height: 343px;
  }
}

.heart-checkbox-restaurants {
  cursor: pointer;
  z-index: 2;
  width: 0px;
  text-align: center;
  font-size: 25px;
  transition: all 2s;
}
.heart-checkbox-restaurants input[type=checkbox], .heart-checkbox-restaurants .checked {
  display: none;
}
.heart-checkbox-restaurants input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  animation: heart 2s ease-out;
}
.heart-checkbox-restaurants input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.catégories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
@media all and (min-width: 768px) {
  .catégories {
    width: 60%;
  }
}
.catégories h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  align-self: flex-start;
  margin-bottom: 26px;
  margin-top: 0;
}
.catégories .souligne {
  text-decoration: underline solid #99E2D0;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.catégories-plat {
  animation: apparitionplat 1s ease-in-out;
  animation-fill-mode: backwards;
  background-color: white;
  width: 100%;
  height: 69px;
  display: flex;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: transform;
  transition: all 300ms ease-out;
}
.catégories-plat:hover {
  transform: scale(1.02);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.6);
}
.catégories-plat input[type=checkbox]:checked ~ .plat-check {
  margin-right: -10px;
  transition-duration: 250ms;
}
.catégories-plat input[type=checkbox]:checked ~ .plat-check i {
  transform: rotate(0turn);
}
.catégories-plat input {
  width: 100%;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  margin: 0;
}
.catégories-plat .plat-header {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catégories-plat .plat-header h4 {
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catégories-plat .plat-header p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
.catégories-plat .prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 50px 3.5px 10px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}
.catégories-plat .plat-check {
  background-color: #99E2D0;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 59px;
  margin: -16px -75px -16px -30px;
  transition: all 250ms ease-out;
}
.catégories-plat .plat-check i {
  transform: rotate(-1turn);
  transition: all 1000ms;
}

.catégories-plat.platone {
  animation-delay: 0.2s;
}

.catégories-plat.plattwo {
  animation-delay: 0.6s;
}

.catégories-plat.platthree {
  animation-delay: 0.8s;
}

.catégories-plat.platfour {
  animation-delay: 1s;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 300ms ease-out;
}
.button:hover {
  opacity: 75%;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.6);
}

.info .button {
  width: 218px;
}

.button-restaurants {
  width: 168px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.conteneur-card {
  width: 100%;
  position: relative;
  transition-property: transform;
  transition: all 300ms ease-out;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.conteneur-card:hover {
  transform: scale(1.02);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 251px;
  min-width: 100%;
  border-radius: 15px;
  color: black;
  transition-property: transform;
  transition: all 300ms ease-out;
}
.card img {
  object-fit: cover;
  object-position: 50% 62%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 73%;
}
@media all and (min-width: 768px) {
  .card img {
    object-position: 50% 59%;
  }
}
.card .jay {
  object-position: 50% 99%;
}
@media all and (min-width: 768px) {
  .card .jay {
    object-position: 50% 60%;
  }
}
.card .toa {
  object-position: 50% 101%;
}
@media all and (min-width: 768px) {
  .card .toa {
    object-position: 50% 70%;
  }
}
.card .louis {
  object-position: 50% 100%;
}
@media all and (min-width: 768px) {
  .card .louis {
    object-position: 50% 70%;
  }
}
.card h4 {
  align-self: flex-start;
  margin: 16px 0px 0px 16px;
}
.card p {
  align-self: flex-start;
  font-size: 17px;
  font-weight: 300;
  margin: 3px 0px 15px 16px;
  padding: 0px;
}

.badge::after {
  position: absolute;
  z-index: 2;
  top: 1em;
  right: 1em;
  content: "Nouveau";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  margin: 5px 0px 0px 0px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.fa-solid.fa-heart {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}

.heart-checkbox {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  bottom: 1em;
  right: 2em;
  width: 0px;
  gap: 20px;
  text-align: center;
  font-size: 25px;
  transition: all 2s;
}
.heart-checkbox input[type=checkbox], .heart-checkbox .checked {
  display: none;
}
.heart-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  animation: heart 2s ease-out;
}
.heart-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

footer {
  background-color: #353535;
}

.section-footer {
  color: white;
  padding: 22px 25px 12px 25px;
}
@media all and (min-width: 768px) {
  .section-footer {
    display: flex;
    justify-content: flex-end;
    padding: 30px 25px 12px 25px;
  }
  .section-footer h5 {
    order: 5;
    align-self: center;
    padding-top: 10px;
  }
  .section-footer ol {
    display: flex;
  }
  .section-footer .font-400 {
    margin-top: 20px;
    margin-right: 70px;
    gap: 10px;
  }
  .section-footer .footer-icone {
    margin-right: 40px;
    gap: 10px;
  }
}
.section-footer h5 {
  font-family: "Shrikhand", serif;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
}
.section-footer ol {
  margin: 0;
  padding: 0;
}
.section-footer .footer-icone {
  margin-top: 20px;
  font-weight: 500;
}
.section-footer li {
  margin-bottom: 10px;
}
.section-footer li i {
  margin-right: 15px;
  width: 12px;
}
.section-footer a {
  color: white;
}
.section-footer .font-400 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.footer-restaurant {
  margin-top: -3.5em;
}
@media all and (min-width: 768px) {
  .footer-restaurant {
    margin-top: -1.5em;
  }
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparitionplat {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounceun {
  0% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(0.7);
  }
}
@keyframes bouncedeux {
  0% {
    transform: scaleY(2.5);
  }
  100% {
    transform: scaleY(0.7);
  }
}

/*# sourceMappingURL=style.css.map */
