.container {
    @include flex_column;
}

// INDEX

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    animation: loader 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    @include flex-row;
    font-size: 40px;
    gap: 15px;
    & .barreun {
        width: 15px;
        height: 40px;
        background-color: $primaire;
        border-radius: 5px;
        transform-origin: bottom;
        animation: bounceun 0.5s alternate infinite;
        box-shadow: 0px 50px 0px 0px rgba($color: $primaire, $alpha: 0.2);
    }
    & .barredeux {
        width: 15px;
        height: 40px;
        background-color: $tertiaire; 
        border-radius: 5px;
        transform-origin: bottom;
        animation: bouncedeux 0.5s alternate infinite;
        box-shadow: 0px 50px 0px 0px rgba($color: $tertiaire, $alpha: 0.3);
        animation-delay: 200ms;
    }
    & .barretrois {
        width: 15px;
        height: 40px;
        background-color: $secondaire; 
        border-radius: 5px;
        transform-origin: bottom;
        animation: bounceun 0.5s alternate infinite;
        box-shadow: 0px 50px 0px 0px rgba($color: $secondaire, $alpha: 0.2);
        animation-delay: 400ms
    }
}

.info {
    @include flex_column;
    text-align: center;
    padding: 15px 30px 60px 30px;
    & h2 {
        margin: 20px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }
    & p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

.fonctionnement {
    @include flex_column;
    width: 100%;
    background-color: white;
    @media all and (min-width:768px){
        padding: 50px 4%;
    }
    & h2 {
        align-self: flex-start;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    & ol {
        padding: 0px;
        width: 100%;
        list-style: none;
        counter-reset: li;
        @media all and (min-width: 768px){
            display: flex;
            justify-content: center;
            & li {
                min-width: 30%;
            }
        }
    }
    & li {
        margin: 0px 15px 25px 25px;
        height: 72px;
        background-color: $background;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 500;
        counter-increment: li;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        transition-property: transform;
        transition: all 300ms ease-out;
        &:hover {
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.20);
            transform: scale(1.02);
            & i {
                color: $primaire;
            }
        }
    }
    & li::before {
        display: inline-block;
        content: counter(li);
        background-color: $primaire;
        border-radius: 50px;
        padding: 5px 10px 5px 10px;
        color: white;
        text-align: center;
        margin-right: 10px;
        margin-left: -15px;
        margin-top: 20px;
        
    }
    & i {
        font-size: 15px;
        margin-right: 10px;
        color: $middle-grey;
    }
}

.restaurants {
    @include flex_column;
    width: 100%;
    padding: 20px;
    gap: 20px;
    @media all and (min-width:768px){
        padding: 30px 5%;
    }
    & h2 {
        align-self: flex-start;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    @media all and (min-width:768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 10fr 10fr;
        grid-auto-rows: minmax(50px, auto);
        & h2 {
            grid-column: 1/2;
            grid-row: 1/3;
        }
        & .one {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        & .two {
            grid-column: 2/2;
            grid-row: 2/3;
        }
        & .three {
            grid-column: 1/2;
            grid-row: 3/3;
        }
        & .four {
            grid-column: 2/2;
            grid-row: 3/3;
        }
    }
}

//PAGE RESTAURANTS

.container-restaurants {
    @include flex_column;
    background-color: white;
}

.header-menu {
    position: relative;
    z-index: 1;
    min-width: 345px;
    & h2 {
        align-self: flex-start;
        margin: 23px 0px 10px 15px;
        font-family: $font-logo;
        font-size: 28px;
        font-weight: 400;
        @media all and (min-width:768px){
            align-self: center;
        }
    }
}

.menu-restaurants {
    @include flex-column-start;
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: $light-grey;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    top: -3.5em;
    padding: 0px 10px 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
    @media all and (min-width:768px){
        width: 73%;
        top: -1.5em;
        @include flex_column;
    }
}

.img-restaurants-palette-du-gout {
    width: 100%;
    height: 275px;
    margin: 0;
    background-image: url(../../assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    @media all and (min-width:768px){
        background-position: 50% 60%;
        height: 343px;
    }
}

.img-restaurants-delice-des-sens {
    width: 100%;
    height: 275px;
    margin: 0;
    background-image: url(../../assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    @media all and (min-width:768px){
        background-position: 50% 60%;
        height: 343px;
    }
}

.img-restaurants-a-la-francaise {
    width: 100%;
    height: 275px;
    margin: 0;
    background-image: url(../../assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    @media all and (min-width:768px){
        background-position: 50% 60%;
        height: 343px;
    }
}

.img-restaurants-note-enchantee {
    width: 100%;
    height: 275px;
    margin: 0;
    background-image: url(../../assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    @media all and (min-width:768px){
        background-position: 50% 60%;
        height: 343px;
    }
}

.heart-checkbox-restaurants {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 2em;
    right: 1.5em;
    width: 0px;
    gap: 20px;
    text-align: center;
    font-size: 25px;
    transition: all 2s;
    @media all and (min-width:375px){
        right: 0.5em;
    }
    & input[type="checkbox"],
        & .checked {
            display: none;
        }
    & input[type="checkbox"]:checked ~ {
        & .checked{
            display: inline-block;
            animation: heart 2s ease-out;
        }
    }
    & input[type="checkbox"]:checked ~ {
        & .unchecked{
            display: none;
        }
    }
}

.catégories {
    @include flex_column;
    width: 100%;
    margin-bottom: 15px;
    @media all and (min-width:768px){
        width: 60%;
    }
    & h3 {
        font-family: $font-text;
        font-size: 16px;
        font-weight: 300;
        align-self: flex-start;
        margin-bottom: 26px;
        margin-top: 0;
    }
    & .souligne {
        text-decoration: underline solid $tertiaire;
        text-decoration-thickness: 3px;
        text-underline-offset: 10px;
    }
}

.catégories-plat {
    animation: apparitionplat 1s ease-in-out;
    animation-fill-mode: backwards;
    background-color: white;
    width: 100%;
    height: 69px;
    display: flex;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: transform;
    transition: all 300ms ease-out;
    &:hover {
        transform: scale(1.02);
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.60);
    }
    & input[type="checkbox"]:checked ~ {
        & .plat-check{
            margin-right: -10px;
            transition-duration: 250ms;
        }
        & .plat-check i {
            transform: rotate(0turn);
        }
    }
    & input {
        width: 100%;
        height: 69px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        margin: 0;
    }
    & .plat-header {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        & h4 {
            margin: 0px 0px 5px 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        & p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
            font-size: 15px;
            font-weight: 300;
        }
    }
    & .prix {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px 50px 3.5px 10px;
        margin: 0;
        font-size: 15px;
        font-weight: 700;
    }
    & .plat-check {
        background-color: $light-green;
        color: white;
        font-size: 25px;
        @include flex-row;
        width: 59px;
        margin: -16px -75px -16px -30px;
        transition: all 250ms ease-out;
        & i {
            transform: rotate(-1turn);
            transition: all 1000ms;
        }
    }
}

.catégories-plat.platone {
    animation-delay: .2s;
}
.catégories-plat.plattwo {
    animation-delay: .6s;
}
.catégories-plat.platthree {
    animation-delay: .8s;
}
.catégories-plat.platfour {
    animation-delay: 1s;
}

