footer {
    background-color: $dark-grey;
}

.section-footer {
    color: white;
    padding: 22px 25px 12px 25px;
    & h5 {
        font-family: $font-logo;
        margin: 0px;
        font-size: 18px;
        font-weight: 400;
        margin: 0px 0px 16px 0px;
    }
    & .font-500 {
        font-size: 16px;
        font-weight: 500;
        margin: 7px;
    }
    & .font-400 {
        font-size: 16px;
        font-weight: 400;
        margin: 7px 0px 12px 0px;
    }
}

.footer-icone {
    @include flex-row;
    justify-content: flex-start;
    gap: 10px;
    & p {
        margin: 5px;
    }
}