footer {
    background-color: $dark-grey;
}

.section-footer {
    color: white;
    padding: 22px 25px 12px 25px;
    & h5 {
        font-family: $font-logo;
        margin: 0px;
        font-size: 18px;
        font-weight: 400;
    }
    & p {
        font-size: 16px;
        font-weight: 500;
    }
}

.info-footer {

}